<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Stock Success</title>
</head>
<body>
    <div align="center">
        Add Stock Successfully!
        <br/>
        <label>ID : </label>
        <span type="text" th:text="${stockListEntity.id}"></span>
        <br/>
        <label>Stock ID :</label>
        <span type="text" th:text="${stockListEntity.stockId}"></span>
        <br/>
        <a href="/">Back to Home</a>
    </div>
</body>
</html>