<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta charset="ISO-8859-1">
    <title>Stock List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container my-2">
        <h1>Stock List</h1>
        <a href="/">Back</a>
        
        <Table  border="1px solid" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Stock ID</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="stock:${listStock}">
                    <td th:text="${stock.id}"></td>
                    <td th:text="${stock.stockId}"></td>
                </tr>
            </tbody>
        </Table>
        <a href="/">Back</a>
    </div>
</body>
</html>